html[data-theme="dark"] .contact-area {
  @include back(
    linear-gradient(45deg, rgba(236, 236, 236, 0.5), rgba(194, 193, 193, 0.5)),
    "../img/img3.jpg"
  );
}
.contact-area {
  @include back(
    linear-gradient(45deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.9)),
    "../img/img3.jpg"
  );
  padding-top: 30px;
  padding-bottom: 50px;
  overflow: hidden;

  .contact-wapper {
    @include dGrid(350px, 1fr, 20px);
    background: var(--background-color-normal);

    .column {
      padding: 2em;
      position: relative;

      h2 {
        font-size: 2em;
        color: var(--text-color-normal);
      }
      .contact-content {
        color: var(--text-color-normal);
        font-size: 0.9em;
        line-height: 1.8em;
        padding: 2em 0;
      }
      .info {
        @include dFlex(row, flex-start, center);
        margin: 0.5em 0;
        padding: 0.5em 1em;
        background: var(--background-color-riched);

        span {
          font-size: 2em;
          color: var(--color-theme);
          margin-right: 1em;
          padding: 0 1em;
          width: 15%;
        }
        .info-content {
          h3 {
            font-size: 1.2em;
            color: var(--text-color-light);
            padding: 0.2em;
          }
          p {
            font-size: 0.8em;
            padding: 0.2em;
            color: var(--text-color-light);
          }
        }
      }
      form {
        width: 100%;
        h2 {
          font-size: 2em;
          text-align: center;
          color: var(--text-color-light);
        }
        .group-control {
          padding: 0.5em;

          label {
            font-size: 1.2em;
            color: var(--text-color-light);
          }
          input {
            display: block;
            width: 100%;
            font-size: 1em;
            padding: 0.8em;
            margin-top: 0.5em;
            color: var(--text-color-light);
            border: 1px solid var(--color-theme);
            border-radius: 5px;
            background: rgba(149, 117, 117, 0.3);
          }
          textarea {
            display: block;
            width: 100%;
            height: 100px;
            font-size: 1em;
            padding: 0.4em;
            margin-top: 0.5em;
            color: var(--text-color-light);
            border: 1px solid var(--color-theme);
            background: rgba(149, 117, 117, 0.3);
          }
          input[type="submit"] {
            @include btn(
              0.6em 2em,
              1.2em,
              inline-block,
              var(--text-color-normal),
              var(--color-theme),
              5px
            );
            margin: 0.5em 0;
          }
        }
      }
    }
  }
}
@media (max-width: 567px) {
  .contact-area {
    .contact-wapper {
      @include dGrid(300px, 1fr, 20px);

      .column {
        padding: 1em;
        position: relative;

        h2 {
          font-size: 1.3em;
        }

        .info {
          span {
            font-size: 1.5em;
            color: var(--color-theme);
            margin-right: 1em;
            padding: 0 1em;
            width: 15%;
          }
          .info-content {
            h3 {
              font-size: 1em;
              color: var(--text-color-light);
              padding: 0.2em 0;
            }
            p {
              font-size: 0.6em;
              padding: 0.5em 0;
              color: var(--text-color-light);
            }
          }
        }
        form {
          width: 100%;
          h2 {
            font-size: 2em;
            text-align: center;
            color: var(--text-color-light);
          }
          .group-control {
            padding: 0.5em;

            label {
              font-size: 1em;
            }
            input {
              font-size: 1em;
              padding: 0.4em 0 0.4em 0.8em;
              border-radius: 3px;
            }
            textarea {
              height: 80px;
            }
            input[type="submit"] {
              @include btn(
                0.4em 1.6em,
                1.2em,
                inline-block,
                var(--text-color-normal),
                var(--color-theme),
                5px
              );
              margin: 0.5em 0;
            }
          }
        }
      }
    }
  }
}
