nav {
  @include dFlex(row, space-between, center);
  width: 100%;
  height: 65px;
  padding: 0 5%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999999;

  .nav-logo {
    font-size: 2.5em;
    font-weight: bold;
    color: var(--text-color-normal);

    span {
      color: var(--color-sc-theme);
    }
  }
  .hamburger-btn {
    @include dFlex(row, center, center);
    @include icon(
      45px,
      45px,
      2.5em,
      var(--text-color-normal),
      transparent,
      5px
    );
    cursor: pointer;
    display: none;
  }

  .nav-links {
    @include dFlex(row, center, center);
    transition: 0.8s ease-in-out;

    .nav-item {
      padding: 0 1.2em;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        top: 37px;
        left: 50%;
        transform: translateX(-50%);
        width: 0px;
        height: 3px;
        border-radius: 2px;
        transition: 0.4s;
      }
      &:hover::before {
        width: 100%;
        background: $yellow;
      }
      &:hover > a {
        color: $yellow;
      }

      a {
        font-size: 0.8em;
        color: var(--text-color-normal);
      }
    }
  }
}

@media (max-width: 567.98px) {
  nav {
    background: var(--color-theme);
    height: 55px;
    .nav-logo {
      font-size: 1.2em;
      span {
        color: var(--text-color-normal);
      }
    }
    .hamburger-btn {
      @include icon(
        33px,
        30px,
        1.5em,
        var(--text-color-normal),
        transparent,
        5px
      );
      display: flex;
      border: 1px solid var(--text-color-normal);
    }
    .nav-links {
      @include dFlex(column, flex-start, flex-start);
      width: 100%;
      height: 100vh;
      background: var(--color-theme);
      position: absolute;
      right: -100%;
      top: 55px;
      padding: 0 1em;

      .nav-item {
        @include dFlex(row, center, center);
        position: relative;
        width: 100%;

        &::before {
          top: 100%;
          transition: 0.8s;
        }
        &:hover::before {
          width: 100%;
          background: $yellow;
        }

        a {
          font-size: 1em;
          color: var(--text-color-normal);
          padding: 0.8em 0;
          display: block;

          &:hover {
            color: $yellow;
          }
        }
      }
    }
  }
}

@media (min-width: 568px) and (max-width: 991.98px) {
  nav {
    background: var(--color-theme);
    .nav-logo {
      font-size: 2em;
      span {
        color: var(--text-color-normal);
      }
    }
    .hamburger-btn {
      display: flex;
    }
    .nav-links {
      @include dFlex(column, flex-start, flex-start);
      width: 450px;
      height: 100vh;
      background: var(--color-theme);
      position: absolute;
      right: -450px;
      top: 65px;
      padding: 0 1em;

      .nav-item {
        position: relative;
        width: 100%;

        &::before {
          top: 100%;
          transition: 0.8s;
        }
        &:hover::before {
          width: 100%;
          background: $yellow;
        }

        a {
          font-size: 1em;
          color: var(--text-color-normal);
          padding: 1em 0;
          display: inline-block;

          &:hover {
            color: $yellow;
          }
        }
      }
    }
  }
}
