.skills-area {
  width: 100%;
  min-height: 100vh;
  background: var(--background-color-riched);
  padding-top: 30px;
  padding-bottom: 50px;
  overflow: hidden;

  .skills-wapper {
    @include dGrid(350px, 1fr, 20px);
    background: var(--background-color-mode);

    .column {
      padding: 2em;
      position: relative;

      h4 {
        font-size: 1.7em;
        color: var(--text-color-normal);
      }
      p {
        font-size: 0.8em;
        color: var(--text-color-normal);
        line-height: 1.8em;
        margin: 2em 0;
        text-align: justify;
      }
      a {
        @include btn(
          0.8em 2em,
          1em,
          inline-block,
          var(--text-color-normal),
          var(--color-theme),
          5px
        );
      }
      span {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: var(--background-color-normal);
        opacity: 0.2;
        backdrop-filter: blur(5px);
        clip-path: polygon(0 0, 100% 0%, 85% 100%, 0% 100%);
      }
      &:first-child {
        @include dFlex(column, space-between, flex-start);
      }
    }
  }
}

.drop {
  display: flex;
  margin: 30px auto;
  border-radius: 20px;
  flex-direction: column;
  h1 {
    color: var(--text-color-mode);
    font-size: 2em;
    letter-spacing: 4px;
    text-align: center;
  }

  .lang {
    @include dFlex(row, space-between, center);
    width: 100%;
    height: 50px;
    position: relative;
    padding: 0 1em;

    p {
      width: 15%;
      color: var(--text-color-normal);
      font-size: 0.7em;
    }
    .progress {
      width: 80%;
      height: 10px;
      border-radius: 5px;
      background-color: rgb(209, 209, 209);
      position: relative;

      .mil {
        height: 10px;
        border-radius: 5px;
        transition: all 0.8s ease-in-out;
        background: linear-gradient(
          to bottom,
          rgb(253, 142, 38) 0%,
          rgb(253, 142, 38) 80%,
          rgb(255, 113, 57) 80%
        );
      }
      .pc-1 {
        width: 85%;
      }
      .pc-2 {
        width: 95%;
      }
      .pc-3 {
        width: 90%;
      }
      .pc-4 {
        width: 80%;
      }
      .pc-5 {
        width: 75%;
      }
      .pc-6 {
        width: 70%;
      }
    }
    &::before {
      content: "";
      width: 40px;
      border-radius: 25px;
      border-style: solid;
      border-color: transparent transparent transparent var(--text-color-light);
      position: absolute;
      left: 5px;
    }
    .counter {
      width: 30px;
      height: 15px;
      background-color: var(--color-theme);
      border-radius: 3px;
      text-align: center;
      line-height: 10px;
      font-size: 55%;
      position: absolute;
      top: -22px;
      right: 0px;
      color: seashell;
    }
  }
}
@media (max-width: 567px) {
  .skills-area {
    padding-top: 20px;
    padding-bottom: 40px;

    .skills-wapper {
      @include dGrid(300px, 1fr, 20px);
      background: var(--background-color-mode);

      .column {
        padding: 1.5em;
        position: relative;

        h4 {
          font-size: 1.2em;
        }
        p {
          font-size: 0.7em;
          line-height: 1.5em;
          margin: 1.8em 0;
        }
        a {
          @include btn(
            0.4em 1.2em,
            1em,
            inline-block,
            var(--text-color-normal),
            var(--color-theme),
            3px
          );
        }

        &:first-child {
          @include dFlex(column, space-between, flex-start);
        }
      }
    }
  }

  .drop {
    display: flex;
    margin: 30px auto;
    border-radius: 20px;
    flex-direction: column;
    h1 {
      color: var(--text-color-mode);
      font-size: 1.3em;
      letter-spacing: 2px;
    }

    .lang {
      height: 40px;
      position: relative;
      padding: 0 1em;
      

      p {
        width: 10%;
        color: var(--text-color-normal);
        font-size: 0.3em;

      }
      .progress {
        width: 75%;
        height: 8px;
        border-radius: 4px;
        background-color: rgb(209, 209, 209);
        position: relative;

        .mil {
          height: 8px;
          border-radius: 4px;
        }
      }
      &::before {
        content: "";
        width: 30px;
        border-radius: 20px;
        left: 5px;
      }
      .counter {
        width: 20px;
        height: 10px;
        background-color: var(--color-theme);
        border-radius: 3px;
        text-align: center;
        line-height: 10px;
        font-size: 55%;
        position: absolute;
        top: -15px;
        right: 0px;
        color: seashell;
      }
    }
  }
}
